---
# main manifest
---

@import

//  bootstrap
    "bootstrap-settings",
    "../components/bootstrap-sass/assets/stylesheets/bootstrap",

//  generic
    "generic/layout";

header {padding-top: 20px }

.site-footer
{
  color:#black;
}

.footer-nav li
{
  list-style: none;
  padding:0px;
}
.footer-nav a
{
  color: white;
}

footer { margin-bottom: 20px;
      margin-top:40px;
      margin-left: 180px;
      margin-right: 180px}

footer {background-color:#B0B0B0;
        border-radius: 10px}


footer {padding-top: 20px;
        padding-bottom: 20px;}

.panel-heading-contact
{margin-top: 20px;
  }
  
/* Post page */

.page-header
{
  margin-top: 0px;
  }

.post-link
{
  color: black;
  }


.panel-body
{
  padding-top: 0px;
  }

.featured-img
{
  margin-bottom: 25px;
  }
