---
# main manifest
---

@import

//  bootstrap
    "bootstrap-settings",
    "../components/bootstrap-sass/assets/stylesheets/bootstrap",

//  generic
    "generic/layout";

header

nav.navbar-findcond { background: #000080; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #000080; }
nav.navbar-findcond ul.navbar-nav a { color: #fff; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #000080; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #fff; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #fff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #000080; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #000080; color: #fff; }
nav.navbar-findcond span.badge { background: #000080; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

#ptminder-client-login input[type="submit"]{ background-color: #000080 !important; line-height: 2.0; }
#ptminder-client-login { color: #fff; }
#ptminder-client-login { line-height: 0.1; }


footer {background-color:#000080;
        border-radius: 0px}

margin:auto; {centre}



.site-footer
{
  background-color: #gray;
  color: #white;
  margin: 5px;
  padding: 5px;
}


.footer-nav li
{
  display: inline;
  margin-top: 10px;
  padding: 15px;
}



.footer-nav a
{
  color: white;
}

.footer-nav a:hover
{
  text-decoration: none;
  }



.panel-heading-contact
{margin-top: 20px;
  }
  


/* Blog Page */

.blog-title a:hover
{
    color: #000000;
    text-decoration: none;
    }
    
.blog-intro a:hover
{
    color: #000000;
    text-decoration: none;
}
    
    
/* Post page */

.page-header
{
  margin-top: 0px;
  }

.post-link
{
  color: black;
  }


.panel-body
{
  padding-top: 0px;
  }

.featured-img
{
  margin-bottom: 25px;
  }
  
  
/* contact page */
.mail-to
{ 
    color: #000000;
    }

.mail-to a:hover
{
    color: #000000;
    text-decoration: none;
    }
