<footer class="site-footer">

<div class="container">
  <div class="row">
    <div class="site-footer">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" 
 integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


   <center>  <div class="col-lg-12 ">
     
<ul class="footer-nav pull-right">


<li><b><a href="http://jackosullivanpt.co.uk">Home</a></b></li>
|<li><b><a href="http://jackosullivanpt.co.uk/grouptraining.html">Group Training</a></b></li>
|<li><b><a href="http://jackosullivanpt.co.uk/personaltraining.html">Personal Training</a></b></li>
|<li><b><a href="http://jackosullivanpt.co.uk/community.html">Community</a></b></li>
|<li><b><a href="http://jackosullivanpt.co.uk/contact.html">Contact</a></b></li>
    </ul>
    
    </div></center>



</div>
</div>
</div>


</footer>
