<div>
<header class="site-header">

  <div class="wrapper">

<div class="container">
<div class="row">
    <div class="col-lg-12">
    <nav class="navbar navbar-default navbar-static-top">
      <div>
        <ul class="nav navbar-nav">
          <li><a href="http://jackosullivanpt.co.uk">Home</a></li>
          <li><a href="http://jackosullivanpt.co.uk/grouptraining.html">Group Training</a></li>
          <li><a href="http://jackosullivanpt.co.uk/contact.html">Contact</a></li>
        </ul>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </nav>
</div>
</div>

<div class="container">
    <div class="row">

<div class="col-lg-4"></div>
  <div class="col-lg-4"><img src="http://67.media.tumblr.com/b1c388c39cec66fee61de8c0104b48e5/tumblr_ns3o5bw0Fh1uzp4dho1_540.jpg"
                                                            class="img-rounded"
                                                           style="width:320px;height:320px;">
    <div class="col-lg-4"></div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-12">
    <nav class="navbar navbar-default">
      <div>
        <ul class="nav navbar-nav">
          <li><a href="http://jackosullivanpt.co.uk">Home</a></li>
          <li><a href="http://jackosullivanpt.co.uk/grouptraining.html">Group Training</a></li>
          <li><a href="http://jackosullivanpt.co.uk/contact.html">Contact</a></li>
        </ul>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </nav>
</div>
</div>


</div>
</div>
</div>

</header >
</div>
