<div>
<header class="site-header">

  <div class="wrapper">

<div class="container">
    <div class="row">

<div class="col-lg-4"></div>
  <div class="col-lg-4"><img src="http://67.media.tumblr.com/b1c388c39cec66fee61de8c0104b48e5/tumblr_ns3o5bw0Fh1uzp4dho1_540.jpg"
                                                            class="img-rounded"
                                                           style="width:320px;height:320px;">
    <div class="col-lg-4"></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-findcond">
    <div class="container">
    		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<li><a href="http://jackosullivanpt.co.uk">Home</a></li>
					<li><a href="http://jackosullivanpt.co.uk/grouptraining.html">Group Training</a></li>
					<li><a href="http://jackosullivanpt.co.uk/contact.html">Contact</a></li>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//jackosullivanpt.us12.list-manage.com/subscribe/post?u=1b6838808665d15ebce557279&amp;id=5b757102ac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Get your FREE 4 week fat loss program here</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b6838808665d15ebce557279_5b757102ac" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Give me my free fat loss training program :-)" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->



</div>
</div>
</div>

</header >
</div>
