
<header class="site-header">

  <div class="wrapper">

<div class="container">
    <div class="row">

<div class="col-lg-4"> 
	<h1><b>Jack O'Sullivan PT</b></h1>
	    <h3>#dontbelieveinimpossible</h3></div>
  
   
    
    </div>
  </div>
</div>


<nav class="navbar navbar-findcond">
    <div class="container">
    		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<li><a href="http://jackosullivanpt.co.uk">Home</a></li>
					<li><a href="http://jackosullivanpt.co.uk">People</a></li>
					<li><a href="http://jackosullivanpt.co.uk">Travel</a></li>
					<li><a href="http://jackosullivanpt.co.uk">Wellbeing</a></li>
					<li><a href="http://jackosullivanpt.co.uk">Music</a></li>
					<li><a href="http://www.bodytransformationclub.co.uk">Online Training</a></li>
					<li><a href="http://jackosullivanpt.co.uk/contact.html">Contact</a></li>
				</li>
			</ul>
		</div>
	</div>
</nav>



</div>
</div>
</div>

</header >
</div>
