<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9966636803320355",
    enable_page_level_ads: true
  });
</script>

  <body>

    {{ site.address }}

    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">


      <div>
        {{ content }}
      </div>



    </div>
    </div>




    {% include footer.html %}

  </body>

</html>
