---
layout: default
---

<div class="post">

  <div class="container">
    <div class="row">
        <div class="col-lg-7"> <header class="post-header">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-9">
  <article class="post-content">
    {{ content }}
  </article>
</div>
</div>
</div>

<div class="container">
  <div class="row col-md-3">
<div class="col-md-12 sidebar-offcanvas" id="sidebarRight" role="navigation">
  <a class="twitter-timeline" href="https://twitter.com/josullivanpt" data-widget-id="640142731499712512">Tweets by @josullivanpt</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div><img class="img-responsive"
src="https://40.media.tumblr.com/b1c388c39cec66fee61de8c0104b48e5/tumblr_nu0keix5uW1rm54z2o1_540.jpg"></div>
</div><!--/span-->
  </div> <!--End Sidebar -->
</div>

</div>
</div>
    </div>
